.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 48px;
  box-sizing: border-box;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}

@media (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 488px) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}
